# Ignore SQLite database file, AND ACTIVATE THE IGNORE OF ENV FOR PRODUCTION
*.sqlite3
.env

# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore other unnecessary files
.vscode
.git
node_modules
static/