{% extends 'base.html' %}
{% block Sidebar_menu %}
<!-- Sidebar code remains unchanged -->
{% endblock %}

{% block main_page %}
<body class="w3-light-grey">
    <div class="w3-main" style="margin-top:43px;">
        <h2>Formularios Completados</h2>

        {% if request.user.is_management %}
        <!-- "Actualizar Estados" Button -->
        <button onclick="document.getElementById('uploadModal').style.display='block'"
            class="w3-button w3-green">Actualizar Estados</button>

        <!-- Modal for File Upload -->
        <div id="uploadModal" class="w3-modal">
            <div class="w3-modal-content">
                <div class="w3-container">
                    <span onclick="document.getElementById('uploadModal').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                    <h3>Subir archivo Excel para actualizar estados</h3>
                    <form method="POST" enctype="multipart/form-data" action="{% url 'update_submissions' %}">
                        {% csrf_token %}
                        <input type="file" name="excel_file" accept=".xlsx" class="w3-input" required>
                        <button type="submit" class="w3-button w3-blue w3-margin-top">Subir y Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Table displaying the forms -->
        <div class="table-container">
            <table class="w3-table w3-bordered w3-striped w3-hoverable">
                <thead>
                    <tr class="w3-light-grey">
                        <th>Submission ID</th>
                        <th>Razón Social</th>
                        <th>Nombre y Apellido</th>
                        <th>Servicio</th>
                        <th>Usuario asignado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <tr data-href="{% url 'form_detail' form.submission_id %}" style="cursor:pointer;">
                        <td>{{ form.submission_id }}</td>
                        <td>{{ form.razon_social }}</td>
                        <td>{{ form.nombre_y_apellido }}</td>
                        <td>{{ form.servicio }}</td>
                        <td>{{ form.servicio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- JavaScript to handle the row click -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var rows = document.querySelectorAll("tr[data-href]");
            rows.forEach(function(row) {
                row.addEventListener("click", function() {
                    window.location.href = this.dataset.href;
                });
            });
        });
    </script>
</body>
{% endblock %}