{% extends 'base.html' %}
{% block main_page %}
<div class="w3-main" style="margin-left:300px;margin-top:50px;">
    <div class="w3-container" style="margin-top:50px;">
        <h3>Estas seguro de quere borrar a {{ user.username }}?</h3>

        <form method="post">
            {% csrf_token %}
            <button id="confirm-btn" type="submit" class="w3-button w3-red" disabled>Si</button>
            <a href="{% url 'list_users' %}" class="w3-button w3-green">No</a>
        </form>

        <p id="countdown"></p>
    </div>
</div>

<script>
// Countdown before enabling the "Yes" button
let countdown = 3;
const countdownElement = document.getElementById('countdown');
const confirmButton = document.getElementById('confirm-btn');

const interval = setInterval(() => {
    countdown--;
    countdownElement.textContent = 'Espere ' + countdown + ' segundos...';

    if (countdown <= 0) {
        clearInterval(interval);
        countdownElement.textContent = '';  // Clear the countdown message
        confirmButton.disabled = false;  // Enable the button
    }
}, 1000);
</script>
{% endblock %}
